
body, html {
    margin: 0;
    padding: 0;
}

.body{
    background-color: #7d7c7ca4;
    color: rgb(255, 255, 255);
}
.butao-like {
    background-color: #060649;
    color: aliceblue;
    padding: 10px 300px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}.butao-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Optional: Adjust the height based on your design */
} 
.butao-like:hover{
    background-color: rgb(8, 50, 105);
    color: rgb(255, 255, 255);
    box-shadow: 0px 3px 2px 2px rgb(2, 2, 74);


}